@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Zen Kaku Gothic New";

  @apply text-slate-900;
}
html {
  width: 100vw;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  @apply text-3xl font-bold;
}

.page-title {
  @apply text-theme border-theme heading-border;

  filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 1));
}

h2 {
  @apply text-xl;
}

.section-title {
  @apply border-slate-900/50 heading-border;
}

.heading-border {
  @apply pb-2 border-b-[1px] mb-2;
}
