@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Zen Kaku Gothic New", sans-serif;
  @apply text-slate-900;
}
html {
  width: 100vw;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  @apply text-3xl font-bold;
}

.theme-shadow {
  filter: drop-shadow(0 0 0.2rem theme("colors.theme.100"));
}

h2 {
  @apply text-2xl font-medium;
}

.section-title {
  @apply border-slate-900/50 heading-border theme-shadow;
}

h3 {
  @apply text-xl;
}

.sub-section-title {
  @apply border-slate-900/50 heading-border;
}

em {
  @apply font-medium;

  em {
    @apply font-bold;
  }
}

.heading-border {
  @apply pb-2 border-b-[1px] mb-2;
}

.main-content {
  @apply p-4 w-full lg:w-2/3 flex-col mx-auto;
}

.button {
  @apply px-4 py-2 rounded-lg bg-theme-base text-white cursor-pointer duration-200 ease-in-out text-center;
  transition: background-color 0.2s, opacity 0.2s;

  &:disabled, &.disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  &:not(:disabled):not(.disabled):hover {
    @apply bg-theme-500;
  }

}

.link {
  @apply text-theme-base underline;

  &:hover {
    @apply text-theme-500;
  }
}
