@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Zen Kaku Gothic New", sans-serif;

  @apply text-slate-900;
}
html {
  width: 100vw;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  @apply text-3xl font-bold;
}

.theme-shadow {
  filter: drop-shadow(0 0 0.2rem theme("colors.theme.100"));
}

.page-title {
  @apply text-theme-base border-theme-base heading-border theme-shadow;
}

h2 {
  @apply text-2xl font-medium;
}

.section-title {
  @apply border-slate-900/50 heading-border theme-shadow;
}

h3 {
  @apply text-xl;
}

.sub-section-title {
  @apply border-slate-900/50 heading-border;
}

em {
  @apply font-medium;

  em {
    @apply font-bold;
  }
}

.heading-border {
  @apply pb-2 border-b-[1px] mb-2;
}

button {
  @apply text-theme-100 border-theme-base bg-theme-base duration-[0.25s] cursor-pointer px-[1.2em] py-[0.6em] rounded-lg;
}
button:hover {
  @apply bg-theme-350 transition-colors;
}
button:active {
  @apply bg-theme-300 transition-colors;
}
button:disabled {
  @apply bg-theme-300 transition-colors cursor-not-allowed;
}
